In [1]:
#data Wrangling with pandas 

import pandas as pd 
import numpy as np

In [2]:
#read the data (read the csv)
df = pd.read_csv("NYPD_Arrest_Data__Year_to_Date_.csv")

# show the first five rows of the data
df. head ()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,234233843,09/29/2021,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,B,42,0,25-44,M,BLACK,1009231,240290,40.826189,-73.909738,POINT (-73.90973778899996 40.82618898100003)
1,234129823,09/27/2021,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0,25-44,M,BLACK,1003606,185050,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008)
2,234040747,09/25/2021,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200501,F,Q,101,0,25-44,M,BLACK,1049232,159210,40.603441,-73.765986,POINT (-73.76598558899997 40.60344094100003)
3,234047720,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0,25-44,M,BLACK,1006537,244511,40.837782,-73.919458,POINT (-73.91945797099999 40.83778161800007)
4,234042526,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0,25-44,M,BLACK,1007418,243859,40.835990,-73.916276,POINT (-73.91627635999998 40.83598980000005)

In [3]:
# give us the rows and columns 

df.shape

(115299, 19)

In [4]:
# I prefer the column titles to be lowercase 
# I made them lower case

df.columns = map(str.lower, df.columns)

In [6]:
df.head()

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,new georeferenced column
0,234233843,09/29/2021,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,B,42,0,25-44,M,BLACK,1009231,240290,40.826189,-73.909738,POINT (-73.90973778899996 40.82618898100003)
1,234129823,09/27/2021,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0,25-44,M,BLACK,1003606,185050,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008)
2,234040747,09/25/2021,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200501,F,Q,101,0,25-44,M,BLACK,1049232,159210,40.603441,-73.765986,POINT (-73.76598558899997 40.60344094100003)
3,234047720,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0,25-44,M,BLACK,1006537,244511,40.837782,-73.919458,POINT (-73.91945797099999 40.83778161800007)
4,234042526,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0,25-44,M,BLACK,1007418,243859,40.835990,-73.916276,POINT (-73.91627635999998 40.83598980000005)

In [7]:
# selecting  one column
df["arrest_key"]

0         234233843
1         234129823
2         234040747
3         234047720
4         234042526
            ...
115294    222689440
115295    222626401
115296    222477062
115297    222728174
115298    222535613
Name: arrest_key, Length: 115299, dtype: int64

In [8]:
#lets select multiple columns
multi_col = ["arrest_key","arrest_date"]
df[multi_col]

        arrest_key arrest_date
0        234233843  09/29/2021
1        234129823  09/27/2021
2        234040747  09/25/2021
3        234047720  09/25/2021
4        234042526  09/25/2021
...            ...         ...
115294   222689440  01/06/2021
115295   222626401  01/05/2021
115296   222477062  01/01/2021
115297   222728174  01/07/2021
115298   222535613  01/03/2021

[115299 rows x 2 columns]

In [10]:
more_col = ["perp_race","age_group","perp_sex"]
df[more_col]

                       perp_race age_group perp_sex
0                          BLACK     25-44        M
1                          BLACK     25-44        M
2                          BLACK     25-44        M
3                          BLACK     25-44        M
4                          BLACK     25-44        M
...                          ...       ...      ...
115294  ASIAN / PACIFIC ISLANDER     18-24        M
115295            BLACK HISPANIC     25-44        M
115296            WHITE HISPANIC     25-44        M
115297            WHITE HISPANIC     25-44        M
115298                     BLACK     25-44        M

[115299 rows x 3 columns]

In [14]:
#selecting rows 

df.iloc[11:14]

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,new georeferenced column
11,233313873,09/09/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,40,0,45-64,M,BLACK,1005041,234533,40.810398,-73.924895,POINT (-73.92489531099994 40.810398494000026)
12,233149743,09/05/2021,244.0,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,PL 1402000,F,B,48,0,45-64,M,WHITE HISPANIC,1011811,246833,40.844140,-73.900389,POINT (-73.90038861799998 40.844139945000045)
13,232950216,08/31/2021,166.0,SODOMY 2,116.0,SEX CRIMES,PL 1304501,F,Q,108,0,25-44,M,WHITE,996793,210001,40.743080,-73.954736,POINT (-73.95473646099998 40.74308016800006)

In [16]:
# can also select rows by putting them in a list
rows = [1000, 20000, 1]
df.iloc[rows]

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,new georeferenced column
1000,233403609,09/11/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,47,0,18-24,M,BLACK,1024017,260152,40.880650,-73.856194,POINT (-73.85619390599999 40.880650005000064)
20000,232697393,08/25/2021,114.0,OBSTR BREATH/CIRCUL,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1211100,M,B,52,0,25-44,F,WHITE HISPANIC,1017351,257743,40.874066,-73.880312,POINT (-73.88031172099994 40.87406556800004)
1,234129823,09/27/2021,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0,25-44,M,BLACK,1003606,185050,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008)

In [17]:
#selecting a row and column
df.at [1000, "perp_sex"]

'M'

# Selecting/ Filtering data

In [18]:
#select the condition we want to see

select_condition = df["age_group"] == "18-24"

select_condition

0         False
1         False
2         False
3         False
4         False
          ...
115294     True
115295    False
115296    False
115297    False
115298    False
Name: age_group, Length: 115299, dtype: bool

In [19]:
# making a data frame to only display age group of 18-24
df_age =  df[select_condition]
df_age.head()

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,new georeferenced column
6,233952333,09/23/2021,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1600500,F,K,75,0,18-24,M,BLACK,1017119,183909,40.671412,-73.881512,POINT (-73.88151172399995 40.67141166300007)
9,233647454,09/16/2021,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1601503,F,K,61,0,18-24,M,BLACK,995834,161062,40.608755,-73.958281,POINT (-73.95828138999997 40.60875497300003)
27,231682136,08/02/2021,515.0,"CONTROLLED SUBSTANCE,SALE 3",117.0,DANGEROUS DRUGS,PL 2203901,F,B,42,0,18-24,M,BLACK,1012461,242851,40.833208,-73.898056,POINT (-73.89805609499997 40.83320846400005)
49,226663755,04/08/2021,681.0,"CHILD, ENDANGERING WELFARE",233.0,SEX CRIMES,PL 2601001,M,M,20,0,18-24,M,BLACK,991168,224929,40.784060,-73.975021,POINT (-73.97502051299993 40.784059874000036)
51,226611132,04/07/2021,155.0,RAPE 2,104.0,RAPE,PL 1303001,F,Q,112,0,18-24,M,WHITE HISPANIC,1025420,202485,40.722364,-73.851474,POINT (-73.85147389399998 40.72236368700004)

In [21]:
# quick check for dupes and nulls 
df.isnull()
df.isnull().sum().sum() # if there is any nulls, the number will not be 0

1282

In [22]:
# drop the nulls 
df = df.dropna() # no more nulls

In [24]:
df.duplicated().sum() # no dupes, 

# to drop duplicates
# df = df.drop_duplicates()

0

In [27]:
# check if there is any dates before 2021
date_condition = df["arrest_date"] < "01/02/2021"
df_date = df[date_condition]
df_date.head()

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,new georeferenced column
111581,222504360,01/01/2021,792.0,WEAPONS POSSESSION 1 & 2,118.0,DANGEROUS WEAPONS,PL 265031B,F,K,69,0,<18,F,BLACK,1012917,174213,40.644813,-73.896701,POINT (-73.89670074899993 40.644812890000026)
111594,222476612,01/01/2021,802.0,ALCOHOLIC BEVERAGE CONTROL LAW,346.0,ALCOHOLIC BEVERAGE CONTROL LAW,ABC0064B00,M,B,47,0,25-44,M,BLACK,1023013,262080,40.885946,-73.859813,POINT (-73.85981345999993 40.885946223000076)
111596,222500375,01/01/2021,114.0,OBSTR BREATH/CIRCUL,344.0,ASSAULT 3 & RELATED OFFENSES,PL 121110A,M,K,79,2,45-64,M,WHITE HISPANIC,999105,192881,40.696086,-73.946431,POINT (-73.94643073099996 40.69608630900007)
111603,222504358,01/01/2021,792.0,WEAPONS POSSESSION 1 & 2,118.0,DANGEROUS WEAPONS,PL 265031B,F,K,69,0,<18,F,BLACK,1012917,174213,40.644813,-73.896701,POINT (-73.89670074899993 40.644812890000026)
111605,222473173,01/01/2021,511.0,"CONTROLLED SUBSTANCE, POSSESSI",235.0,DANGEROUS DRUGS,PL 2200300,M,B,41,0,18-24,F,BLACK HISPANIC,1011695,237703,40.819081,-73.900845,POINT (-73.90084522399997 40.81908109000005)

In [28]:
# two conditions at once 
con_1 = df["arrest_boro"] == "Q"
con_2 = df["age_group"] == "<18"

df_mult_con = df[con_1 & con_2]
df_mult_con.head()

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,new georeferenced column
269,234076781,09/26/2021,441.0,"LARCENY,GRAND OF AUTO",110.0,GRAND LARCENY OF MOTOR VEHICLE,PL 1553008,F,Q,105,0,<18,M,BLACK,1046681,181205,40.663831,-73.774969,POINT (-73.77496883299993 40.66383069800003)
440,234096483,09/26/2021,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1601001,F,Q,115,0,<18,M,BLACK,1020217,216520,40.760909,-73.870169,POINT (-73.87016949999997 40.76090891600006)
635,233275107,09/08/2021,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,Q,105,0,<18,M,BLACK,1063392,211098,40.745746,-73.714383,POINT (-73.71438307599993 40.74574592200002)
657,232695136,08/24/2021,113.0,"MENACING,UNCLASSIFIED",344.0,ASSAULT 3 & RELATED OFFENSES,PL 1201401,M,Q,114,2,<18,M,ASIAN / PACIFIC ISLANDER,1002539,217202,40.762835,-73.933981,POINT (-73.93398080399999 40.76283507000005)
690,232876678,08/29/2021,115.0,RECKLESS ENDANGERMENT 2,355.0,OFFENSES AGAINST THE PERSON,PL 1202000,M,Q,105,0,<18,F,BLACK,1054037,199517,40.714038,-73.748265,POINT (-73.74826457799998 40.71403780800006)

In [31]:
# select conditions using "or"(|)
con_1 = df["arrest_boro"] == "K"
con_2 = df["arrest_boro"] == "B"

df_new =df[con_1 | con_2]

df_new.head()

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,new georeferenced column
0,234233843,09/29/2021,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,B,42,0,25-44,M,BLACK,1009231,240290,40.826189,-73.909738,POINT (-73.90973778899996 40.82618898100003)
1,234129823,09/27/2021,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0,25-44,M,BLACK,1003606,185050,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008)
3,234047720,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0,25-44,M,BLACK,1006537,244511,40.837782,-73.919458,POINT (-73.91945797099999 40.83778161800007)
4,234042526,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0,25-44,M,BLACK,1007418,243859,40.835990,-73.916276,POINT (-73.91627635999998 40.83598980000005)
6,233952333,09/23/2021,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1600500,F,K,75,0,18-24,M,BLACK,1017119,183909,40.671412,-73.881512,POINT (-73.88151172399995 40.67141166300007)

In [34]:
# using .isin to select through the police precinct
list_of_precinct = [75, 42, 101]
select_statement = df.arrest_precinct.isin(list_of_precinct)

df[select_statement]

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,new georeferenced column
0,234233843,09/29/2021,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,B,42,0,25-44,M,BLACK,1009231,240290,40.826189,-73.909738,POINT (-73.90973778899996 40.82618898100003)
2,234040747,09/25/2021,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200501,F,Q,101,0,25-44,M,BLACK,1049232,159210,40.603441,-73.765986,POINT (-73.76598558899997 40.60344094100003)
6,233952333,09/23/2021,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1600500,F,K,75,0,18-24,M,BLACK,1017119,183909,40.671412,-73.881512,POINT (-73.88151172399995 40.67141166300007)
27,231682136,08/02/2021,515.0,"CONTROLLED SUBSTANCE,SALE 3",117.0,DANGEROUS DRUGS,PL 2203901,F,B,42,0,18-24,M,BLACK,1012461,242851,40.833208,-73.898056,POINT (-73.89805609499997 40.83320846400005)
45,227166986,04/20/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,42,0,25-44,F,BLACK,1016105,242923,40.833394,-73.884888,POINT (-73.88488753899996 40.83339369200007)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115185,222813917,01/08/2021,779.0,"PUBLIC ADMINISTRATION,UNCLASSI",126.0,MISCELLANEOUS PENAL LAW,PL 215510D,F,K,75,0,25-44,M,BLACK,1017119,183909,40.671412,-73.881512,POINT (-73.88151172399995 40.67141166300007)
115200,222802246,01/08/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,K,75,0,25-44,M,BLACK HISPANIC,1017119,183909,40.671412,-73.881512,POINT (-73.88151172399995 40.67141166300007)
115214,222730934,01/07/2021,114.0,OBSTR BREATH/CIRCUL,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1211100,M,Q,101,0,25-44,M,BLACK,1053650,158969,40.602746,-73.750078,POINT (-73.75007786499998 40.60274595100003)
115225,222557611,01/03/2021,113.0,"MENACING,UNCLASSIFIED",344.0,ASSAULT 3 & RELATED OFFENSES,PL 1201401,M,K,75,0,25-44,M,BLACK,1022966,182558,40.667680,-73.860442,POINT (-73.86044161899997 40.66767983500005)
115258,222635846,01/05/2021,259.0,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",351.0,CRIMINAL MISCHIEF & RELATED OF,PL 1450001,M,B,42,0,25-44,M,BLACK HISPANIC,1008691,238872,40.822298,-73.911694,POINT (-73.91169413099993 40.82229848500003)

In [35]:
# use ~ to look for not the precinct 
df[~select_statement]

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,new georeferenced column
1,234129823,09/27/2021,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0,25-44,M,BLACK,1003606,185050,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008)
3,234047720,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0,25-44,M,BLACK,1006537,244511,40.837782,-73.919458,POINT (-73.91945797099999 40.83778161800007)
4,234042526,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0,25-44,M,BLACK,1007418,243859,40.835990,-73.916276,POINT (-73.91627635999998 40.83598980000005)
7,233878488,09/21/2021,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211300,F,B,40,0,25-44,M,WHITE,1010679,234533,40.810383,-73.904528,POINT (-73.90452841699994 40.81038342800008)
8,233784866,09/19/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0,25-44,F,BLACK,1004489,237844,40.819488,-73.926879,POINT (-73.926879392 40.81948754300004)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115294,222689440,01/06/2021,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200501,F,Q,102,0,18-24,M,ASIAN / PACIFIC ISLANDER,1031076,193779,40.698440,-73.831130,POINT (-73.83112953899997 40.69843969400005)
115295,222626401,01/05/2021,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,B,49,0,25-44,M,BLACK HISPANIC,1027430,251105,40.855803,-73.843910,POINT (-73.84390995399998 40.85580274300003)
115296,222477062,01/01/2021,922.0,"TRAFFIC,UNCLASSIFIED MISDEMEAN",348.0,VEHICLE AND TRAFFIC LAWS,VTL0511001,M,B,50,0,25-44,M,WHITE HISPANIC,1011047,256269,40.870041,-73.903112,POINT (-73.90311219699998 40.870041281000056)
115297,222728174,01/07/2021,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,Q,114,0,25-44,M,WHITE HISPANIC,1007694,219657,40.769561,-73.915363,POINT (-73.91536344699995 40.76956124200007)
115298,222535613,01/03/2021,792.0,WEAPONS POSSESSION 1 & 2,118.0,DANGEROUS WEAPONS,PL 265031B,F,K,67,0,25-44,M,BLACK,1000054,173952,40.644129,-73.943053,POINT (-73.94305278599995 40.64412879400004)

In [40]:
# using .where
# .where will take a condition, and values for when the statement is true or false 
c1 = df["perp_race"] == "BLACK HISPANIC"

df["is_black_hispanic"] = np.where(c1,"is black hispanic", "not black hispanic")


select_statement = df["is_black_hispanic"] == "is black hispanic"

df_new_statement = df[select_statement]

df_new_statement.head()

<ipython-input-40-ddf25602bd7c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["is_black_hispanic"] = np.where(c1,"is black hispanic", "not black hispanic")

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,new georeferenced column,is_black_hispanic
36,229750961,06/18/2021,157.0,RAPE 1,104.0,RAPE,PL 1303504,F,B,46,0,45-64,M,BLACK HISPANIC,1011881,250411,40.853960,-73.900121,POINT (-73.90012087499997 40.85396027400003),is black hispanic
95,232551912,08/21/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,25,2,25-44,M,BLACK HISPANIC,1003481,229777,40.797348,-73.930544,POINT (-73.93054433099996 40.797348115000034),is black hispanic
100,232719666,08/25/2021,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,B,44,0,45-64,F,BLACK HISPANIC,1009004,243810,40.835851,-73.910545,POINT (-73.91054501799994 40.83585100700003),is black hispanic
103,233734948,09/18/2021,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,B,46,0,18-24,M,BLACK HISPANIC,1010496,247755,40.846675,-73.905138,POINT (-73.90513776799997 40.84667456900007),is black hispanic
114,234093172,09/26/2021,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",113.0,FORGERY,PL 1702500,F,Q,104,0,25-44,M,BLACK HISPANIC,1009068,195616,40.703571,-73.910492,POINT (-73.91049169299998 40.70357091200003),is black hispanic

# Using groupby

In [43]:
gb = df.groupby("perp_race")
gb["perp_race"].agg(["count"])

                                count
perp_race
AMERICAN INDIAN/ALASKAN NATIVE    319
ASIAN / PACIFIC ISLANDER         6296
BLACK                           56597
BLACK HISPANIC                  10040
UNKNOWN                           420
WHITE                           12471
WHITE HISPANIC                  28017

In [52]:
# # select

# select_race = df["perp_race"] == "BLACK"
# df_race = df[select_race]

# print(df_race.shape)

In [65]:
def race_shape (race):
    x = race 
    select_race = df["perp_race"] == x
    df_new_race = df [select_race]
    print(race, " shape ", df_new_race.shape )

In [67]:
race_list = ["AMERICAN INDIAN/ALASKAN NATIVE", "ASIAN / PACIFIC ISLANDER", "BLACK", "BLACK HISPANIC", "UNKNOWN", "WHITE", "WHITE HISPANIC"]

for race in race_list:
    race_shape(race)

AMERICAN INDIAN/ALASKAN NATIVE  shape  (319, 20)
ASIAN / PACIFIC ISLANDER  shape  (6296, 20)
BLACK  shape  (56597, 20)
BLACK HISPANIC  shape  (10040, 20)
UNKNOWN  shape  (420, 20)
WHITE  shape  (12471, 20)
WHITE HISPANIC  shape  (28017, 20)

In [69]:
gb_sex = df.groupby("perp_sex")
gb_sex["perp_sex"].agg(["count"])

          count
perp_sex
F         19334
M         94826

In [75]:
# making a dataframe from a groupby 

gb_boro_race = df.groupby("arrest_boro")["perp_race"].count()
new_df = pd.DataFrame(gb_boro_race)

new_df = new_df.reset_index()

new_df

  arrest_boro  perp_race
0           B      25057
1           K      30819
2           M      28447
3           Q      24467
4           S       5370

In [80]:
df.describe()

,arrest_key,pd_cd,ky_cd,arrest_precinct,jurisdiction_code,x_coord_cd,y_coord_cd,latitude,longitude
count,1.141600e+05,114160.000000,114160.000000,114160.000000,114160.000000,1.141600e+05,114160.000000,114160.000000,114160.000000
mean,2.284181e+08,413.302383,237.998537,63.301428,0.932586,1.005161e+06,208033.961265,40.737638,-73.924517
std,3.486591e+06,276.035128,132.724948,35.034807,8.023085,2.160446e+04,30101.777186,0.082628,0.077911
min,2.224711e+08,100.000000,101.000000,1.000000,0.000000,9.142140e+05,121312.000000,40.499401,-74.251844
25%,2.253112e+08,113.000000,111.000000,40.000000,0.000000,9.915910e+05,185435.000000,40.675584,-73.973554
50%,2.285111e+08,339.000000,235.000000,62.000000,0.000000,1.004537e+06,206689.000000,40.733927,-73.926823
75%,2.314963e+08,705.000000,344.000000,101.000000,0.000000,1.017119e+06,235993.000000,40.814415,-73.881512
max,2.343530e+08,997.000000,882.000000,123.000000,97.000000,1.066556e+06,271820.000000,40.912723,-73.703000

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114160 entries, 0 to 115298
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   arrest_key                114160 non-null  int64
 1   arrest_date               114160 non-null  object
 2   pd_cd                     114160 non-null  float64
 3   pd_desc                   114160 non-null  object
 4   ky_cd                     114160 non-null  float64
 5   ofns_desc                 114160 non-null  object
 6   law_code                  114160 non-null  object
 7   law_cat_cd                114160 non-null  object
 8   arrest_boro               114160 non-null  object
 9   arrest_precinct           114160 non-null  int64
 10  jurisdiction_code         114160 non-null  int64
 11  age_group                 114160 non-null  object
 12  perp_sex                  114160 non-null  object
 13  perp_race                 114160 non-null  object
 14  x_coord_cd                114160 non-null  int64
 15  y_coord_cd                114160 non-null  int64
 16  latitude                  114160 non-null  float64
 17  longitude                 114160 non-null  float64
 18  new georeferenced column  114160 non-null  object
 19  is_black_hispanic         114160 non-null  object
dtypes: float64(4), int64(5), object(11)
memory usage: 22.3+ MB

In [82]:
df.arrest_boro.value_counts()

K    30819
M    28447
B    25057
Q    24467
S     5370
Name: arrest_boro, dtype: int64

In [83]:
df.perp_race.value_counts()

BLACK                             56597
WHITE HISPANIC                    28017
WHITE                             12471
BLACK HISPANIC                    10040
ASIAN / PACIFIC ISLANDER           6296
UNKNOWN                             420
AMERICAN INDIAN/ALASKAN NATIVE      319
Name: perp_race, dtype: int64

In [84]:
df.pd_desc.value_counts()

ASSAULT 3                         14678
LARCENY,PETIT FROM OPEN AREAS,     9110
ASSAULT 2,1,UNCLASSIFIED           8591
ROBBERY,OPEN AREA UNCLASSIFIED     5678
PUBLIC ADMINISTRATION,UNCLASSI     5256
                                  ...
NEGLECT/POISON ANIMAL                 1
SOLICITATION 4, CRIMINAL              1
WEAPONS,PROHIBITED USE IMITATI        1
RADIO DEVICES,UNLAWFUL POSSESS        1
FAIL TO SIGNAL                        1
Name: pd_desc, Length: 228, dtype: int64